In [11]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS users (
               id INTEGER PRIMARY KEY,
               "Tên" TEXT,
               "Tuổi" INTEGER)
               ''')
cursor.execute('''
               INSERT INTO users ("Tên", "Tuổi")
               VALUES ("Nguyễn Văn A", 30),
               ('Trung Dũng',20)
               ''')
conn.commit()
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)
cursor.close()
conn.close()

(1, 'Hà Trung Dũng', 30)
(2, 'Nguyễn Văn A', 30)
(3, 'Nguyễn Văn A', 30)
(4, 'Trung Dũng', 20)