In [1]:
import pandas as pd
data ={
    'Tỉnh/Tp:':["Hà Nội",'Đà Nẵng','Tp.Hồ Chí Minh','Nam Định'],
    'Dân số/người':[8330830,1195490,9411805,1836270],
    "Diện tích(km2)":[3358,1285,2061,1668]
}
df = pd.DataFrame(data)
df

         Tỉnh/Tp:  Dân số/người  Diện tích(km2)
0          Hà Nội       8330830            3358
1         Đà Nẵng       1195490            1285
2  Tp.Hồ Chí Minh       9411805            2061
3        Nam Định       1836270            1668

In [ ]:
record = [
    {'Tỉnh': 'Hà Nội','GDP(tỷ đồng):1220000'},
    {''}

]

In [2]:
import numpy as np
array = np.arange(1,10).reshape((3,3))
df_np = pd.DataFrame(array,columns=['A','B','C'])
df_np

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
indA = pd.Index([0,2,4,6,8])
indB = pd.Index([1,3,5,7,9])
print("Index A:",indA)

Index A: Index([0, 2, 4, 6, 8], dtype='int64')

In [5]:
print('Index B:',indB)

Index B: Index([1, 3, 5, 7, 9], dtype='int64')

In [6]:
print("Hợp(union):",indA.union(indB))

Hợp(union): Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [7]:
print("Hiệu dffierence:",indA.difference(indB))

Hiệu dffierence: Index([0, 2, 4, 6, 8], dtype='int64')

In [8]:
print("Giao(intersection):",indA.intersection(indB))

Giao(intersection): Index([], dtype='int64')