# MULTINDEX ( indexing/slicing) (chọc/lọc)

In [1]:
import pandas as pd
# định nghãi Tuple
index_tuples = [
    ('Hà Nội', 2015), ('Hà Nội', 2020),
    ('Nam Định', 2015), ('Nam Định', 2020),
    ('Thanh Hóa', 2015), ('Thanh Hóa', 2020),
    ('Đà Nẵng', 2015), ('Đà Nẵng', 2020),
    ('Hồ Chí Minh', 2015), ('Hồ Chí Minh', 2020)
]
data = [
    7216000, 8246540,
    1850600, 1780330,
    3514200, 3664940,
    1028800, 1169480,
    8146300, 9227600
]

In [3]:
vn_pop = pd.Series(data,index=index_tuples)
print("Ser sử dụng index bằng Tuple:\n",vn_pop)

Ser sử dụng index bằng Tuple:
 (Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [ ]:
# cho biết dân số HN(2015,2020) và ND(2015,2020)
vn_pop[('Hà Nội',2015):('Nam Định',2015)]

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

In [ ]:
vn_pop.index

In [5]:
vn_pop[[i for i in vn_pop.index if i[1]=2020]]

SyntaxError: invalid syntax (2552523396.py, line 1)

In [6]:
multi_idx = pd.MultiIndex.from_tuples(index_tuples, names=['Tỉnh/TP', 'Năm'])
multi_idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [ ]:
# reindex series theo multidex vừa tạo 
vn_pop_mul = vn_pop.reindex(multi_idx)
vn_pop_mul # đây là 1 series có chỉ mục đa cấp khác với vn_pop ban đầu

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [8]:
# lấy toàn bộ số liệu dân số về năm 2020
vn_pop_mul[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [9]:
# CHuyển series thành Dataframe vn_pop_df
vn_pop_df = vn_pop_mul.unstack('Năm') #chuyển Series đa cấp thành DataFrame
print("DataFrame dạng rộng (cột là Năm):")
display(vn_pop_df)

print("\nSeries dạng dài (stack lại):")
display(vn_pop_df.stack())

DataFrame dạng rộng (cột là Năm):

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

Series dạng dài (stack lại):

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [10]:
vn_pop_df

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [11]:
co_viec_2015 = [3752320, 1080750, 1512340, 512340, 4920000]
co_viec_2020 = [4042451, 1011049, 1600000, 600000, 5200000]
vn_pop_df_expanded = pd.DataFrame({
    ('Tổng dân số',2015):vn_pop_df[2015],
    ('Tổng dân số',2020):vn_pop_df[2020],
    ('Có việc',2015):co_viec_2015,
    ('Có việc',2020):co_viec_2020
},index = vn_pop_df.index)
# tạo multiIndex vn_pop_df.expanded.column từ tuple
vn_pop_df_expanded.columns = pd.MultiIndex.from_tuples(vn_pop_df_expanded.columns,names=['Chỉ tiêu','Năm'])
vn_pop_df_expanded

Chỉ tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Tỉnh/TP
Hà Nội          7216000  8246540  3752320  4042451
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480  4920000  5200000

In [14]:
df_co_viec = vn_pop_df_expanded['Có việc']/vn_pop_df_expanded['Tổng dân số']
df_co_viec

Năm              2015      2020
Tỉnh/TP
Hà Nội       0.520000  0.490200
Hồ Chí Minh  0.132668  0.109568
Nam Định     0.817216  0.898710
Thanh Hóa    0.145791  0.163713
Đà Nẵng      4.782271  4.446421

In [ ]:
# kiểm tra index của f_co_viec có phải MultiIndex không 
is_multiindex = isinstance(vn_pop_df_expanded.columns)

# Các phương thức tạo Multiindex

In [15]:
#a tạo Multindex cho hàng 
import numpy as np
import pandas as pd # Cần import pandas để dùng pd.DataFrame

df = pd.DataFrame(np.random.rand(4,2),
                  index=[['a', 'a', 'b', 'b'], [1,2,1,2]],
                  columns=['data1', 'data2'])
df

        data1     data2
a 1  0.319569  0.615884
  2  0.869101  0.782021
b 1  0.298771  0.369861
  2  0.587511  0.021691

In [16]:
import numpy as np
import pandas as pd #
idx_arr = [['a', 'a', 'b', 'b'], [1,2,1,2]]
data = np.random.rand(4,3) # Tạo mảng dữ liệu ngẫu nhiên (4 hàng, 3 cột)
# Tạo đối tượng MultiIndex từ mảng idx_arr
multi_index = pd.MultiIndex.from_arrays(idx_arr, names=['Data1', 'Data2']) # Tạo multiIndex từ mảng
df = pd.DataFrame(data, index=multi_index,
                  columns=['Value1', 'Value2', 'Value3'])
df

               Value1    Value2    Value3
Data1 Data2
a     1      0.342948  0.056232  0.877183
      2      0.303508  0.961209  0.835763
b     1      0.799912  0.385485  0.616983
      2      0.896758  0.493373  0.245540

In [ ]:
# tạo Multindex từ tuples 
import numpy as np
import pandas as pd
idx_tuples = [('a', 1), ('a', 2), ('b', 1), ('b', 2)]
data = np.random.randn(4, 3) # Tạo mảng dữ liệu ngẫu nhiên (4 hàng, 3 cột)
df = pd.DataFrame(data, index=idx_tuples,
                  columns=['Value1', 'Value2', 'Value3'])
df

          Value1    Value2    Value3
(a, 1) -0.929268 -0.439268 -2.585598
(a, 2) -0.362116  0.465366 -0.372231
(b, 1) -0.255226 -1.602499 -1.213851
(b, 2) -2.206643 -1.168481  0.107314

In [18]:
import numpy as np
import pandas as pd
index = pd.MultiIndex.from_product([[2020, 2021, 2022], [1, 2, 3]], 
                                   names=['Năm', 'Lần thi'])
columns = pd.MultiIndex.from_product([['Bình', 'Lan', 'Vân'],
                                      ['Toán', 'Lý', 'Hóa']],
                                     names=['Học sinh', 'Môn học'])
# Tạo dữ liệu mẫu, là mảng kích thước 9x9 với các giá trị ngẫu nhiên từ 5-10
data = np.random.randint(5, 10, (9, 9))
score = pd.DataFrame(data, index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  6   5    9  5   5    6  9   9
     2          8  5   7    8  8   5    8  8   8
     3          8  9   7    8  6   9    6  6   9
2021 1          9  8   6    7  5   9    6  9   9
     2          9  7   8    5  7   6    5  6   9
     3          8  6   8    7  7   8    7  8   7
2022 1          6  5   7    8  5   7    9  8   5
     2          6  8   6    8  9   9    9  6   5
     3          9  9   5    7  5   7    6  6   6

In [19]:
# lấy dữ liueuej 
score['Lan']

Môn học       Toán  Lý  Hóa
Năm  Lần thi
2020 1           9   5    5
     2           8   8    5
     3           8   6    9
2021 1           7   5    9
     2           5   7    6
     3           7   7    8
2022 1           8   5    7
     2           8   9    9
     3           7   5    7

# Index và slicing trong multindex 
chỉ mục và cắt lát

In [20]:
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [21]:
idx = pd.IndexSlice
# chọn tổng dân số năm 2020 cho các tỉnh thành 
chon = vn_pop_df_expanded.loc[:,idx['Tổng dân số',2020]]
chon

Tỉnh/TP
Hà Nội         8246540
Hồ Chí Minh    9227600
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Name: (Tổng dân số, 2020), dtype: int64

In [22]:
type(chon)

pandas.core.series.Series

In [ ]:
# dùng Masks,Fancy indexing