In [2]:
import pandas as pd 
population = pd.Series({'Hà Nội':8330830, 
                        'Quảng Ninh':1358490, 
                        'Nam Định': 1771000, 
                        'Đà Nẵng':1191381, 
                        'TP.Hồ Chí Minh':9411805}) 
area=pd.Series({'Hà Nội':3358.9, 
                 'Quảng Ninh':6177.7, 
                 'Nam Định': 1668.0, 
                 'Đà Nẵng':1284.9, 
                 'TP.Hồ Chí Minh':2061.0}) 
data = pd.DataFrame({'Dân số':population, 'Diện tích':area}) 
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [3]:
print(data)
data.loc["Hà Nội"]

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

Dân số       8330830.0
Diện tích       3358.9
Name: Hà Nội, dtype: float64

In [4]:
data['population'] = data["Dân số"]
print(data)

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

In [5]:
print(data)
data.loc[:'Nam Định']

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

             Dân số  Diện tích  population
Hà Nội      8330830     3358.9     8330830
Quảng Ninh  1358490     6177.7     1358490
Nam Định    1771000     1668.0     1771000

In [6]:
print(data) 
#Lấy hàng đầu tiên 
print('\n Dữ liệu của Hà Nội:\n',data.loc['Hà Nội']) 
#Lấy dữ liệu 3 hàng đầu tiên 
print("\n Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.loc[:'Nam Định']) 
#Dữ liệu của 2 hàng và 2 cột đầu tiên 
print("\nDữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:\n",data.loc[:'Quảng Ninh',:'Diện tích'])

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

 Dữ liệu của Hà Nội:
 Dân số        8330830.0
Diện tích        3358.9
population    8330830.0
Name: Hà Nội, dtype: float64

 Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  population
Hà Nội      8330830     3358.9     8330830
Quảng Ninh  1358490     6177.7     1358490
Nam Định    1771000     1668.0     1771000

Dữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7

In [13]:
print(data)
data.iloc[0:3]
# lấy 2 hàng và 2 cột đầu tiên 
data.iloc[:2,:2]
# lấy dữ liệu mật độ dân số các tỉnh còn lại 
data["Mật độ"] = data["Dân số"]/data["Diện tích"]
print(data)
pd.DataFrame(data)

                 Dân số  Diện tích       Mật độ
Hà Nội          8330830     3358.9  2480.225669
Quảng Ninh      1358490     6177.7   219.902229
Nam Định        1771000     1668.0  1061.750600
Đà Nẵng         1191381     1284.9   927.216904
TP.Hồ Chí Minh  9411805     2061.0  4566.620573
                 Dân số  Diện tích       Mật độ
Hà Nội          8330830     3358.9  2480.225669
Quảng Ninh      1358490     6177.7   219.902229
Nam Định        1771000     1668.0  1061.750600
Đà Nẵng         1191381     1284.9   927.216904
TP.Hồ Chí Minh  9411805     2061.0  4566.620573

                 Dân số  Diện tích       Mật độ
Hà Nội          8330830     3358.9  2480.225669
Quảng Ninh      1358490     6177.7   219.902229
Nam Định        1771000     1668.0  1061.750600
Đà Nẵng         1191381     1284.9   927.216904
TP.Hồ Chí Minh  9411805     2061.0  4566.620573