In [1]:
import pandas as pd 
import numpy as np
print("--- 6. Chuẩn bị DataFrame cho Demo ---")
data = {
    'A': [1.0, 2.0, np.nan, 4.0],
    'B': [np.nan, 6.0, 7.0, 8.0],
    'C': [9, 10, 11, 12]
}
df_demo = pd.DataFrame(data)
print(f"DataFrame gốc (df_demo): \n{df_demo}")

--- 6. Chuẩn bị DataFrame cho Demo ---
DataFrame gốc (df_demo):
     A    B   C
0  1.0  NaN   9
1  2.0  6.0  10
2  NaN  7.0  11
3  4.0  8.0  12

In [2]:
df_demo

     A    B   C
0  1.0  NaN   9
1  2.0  6.0  10
2  NaN  7.0  11
3  4.0  8.0  12

In [4]:
df_filled = df_demo.fillna(0)
df_filled

     A    B   C
0  1.0  0.0   9
1  2.0  6.0  10
2  0.0  7.0  11
3  4.0  8.0  12